/* Step one: get things to fit on the screen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#838ef9, #3535ec);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

/* End step one */

/* Step two: Control panels */
header img {
    width: 56px;
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

h3 {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #4c6c96;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 16px 24px;
    width: 100%;
    margin-bottom: 16px;
}

.commands ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.commands ul li {
    font-size: 24px;
    font-weight: bold;
}

/* Step 3: Codigotchi and Button */

button {
    border: none;
    background-color: #f71469;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 12px;
}

.codigotchi {
    position: relative;
    width: 230px;
    margin: 0 auto 24px auto;
}

.codigotchi-screen {
    position: absolute;
    top: 118px;
    left: 56px;
    width: 120px;
    height: 120px;
    background-image: url('./images/static.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
